.page-login{
	text-align: center;
	background: #fff;
}
.login-img{
	width:100%;
	position: fixed;
	top:0;
	left:0;
	z-index: 1;
}
.page-login-from{
	position: relative;
	z-index: 10;
}
.login-logo{
	width:198upx;
	height:227upx;
	margin-top: 100upx;
	/* #ifdef MP */
	margin-top:80upx;
	/* #endif */
}
.login-cont{
	width:640upx;
	margin:90upx auto 70upx auto;
	/* #ifdef MP */
	margin-top:50upx;
	/* #endif */
	padding:40upx 20upx;
	border:solid 1px #f2f2f2;
	border-radius: 14upx;
	color:#fff;
	box-shadow:0px 2px 10px #eee;
}
.login-title{
	padding-bottom:20upx;
}
.login-gwj{
	width:236upx;
	height:75upx;
}
.input-zh,.input-mima,.yzma{
	font-size: 14px;
	color:#666;
	text-align: left;
	background:#f2f2f2;
	border-radius: 14upx;
	width:90%;
	margin:26upx auto;
	padding:16upx 20upx;
	display: flex;
}
.input-zh input,.input-mima input{
	width:100%;
}
.yzicon,.zhicon,.mimaicon,.zhicon2{
	padding-top: 10upx;
	margin-right:14upx;
	color:#ff8400;
}
.fsyzma{
	height:50upx;
	text-align: center;
	line-height: 50upx;
	font-size: 13px;
	color:#CB0000;
	padding:0 20upx;
}
.mima-zhuce{
	width:90%;
	margin:auto;
	font-size: 13px;
	display: flex;
	justify-content: space-between;
	color:#aaa;
}
.login-btn button{
	width:300upx;
	height:80upx;
	line-height: 80upx;
	font-size: 15px;
	background:#a10101;
	color:#fff;
}
.login-btn uni-button:after{
	border:0;
}
.text-dl,.text-zcxy{
	font-size: 12px;
	color:#aaa;
	margin:20upx auto;
	margin-top: 40upx;
}
.zcxy{
	color:#cd3232;
}
.qq_wx{
	width:220upx;
	height:100upx;
	display: flex;
	justify-content: space-between;
	margin:auto;
}
.qq_wx image{
	width:40upx;
	height:40upx;
	padding:15upx;
	border-radius: 50%;
}
.qq_wx image:nth-child(1){
	border:solid 1px #1195DA;
}
.qq_wx image:nth-child(2){
	border:solid 1px #1AA034;
}
.text-zcxy{
	line-height: 50upx;
	display: flex;
	justify-content: center;
}